.prompt-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: var(--margin);
  max-width: 600px;
  margin: var(--container-margin);
  padding: var(--container-padding);
}

.prompt-textarea {
  height: 20vh;
  border: 2px solid lightgrey;
  border-radius: 5px;
  /* max-width: 600px; */
}
.prompt-header {
  margin-bottom: 5px;
}
.prompt-button {
  border-radius: 5px;
  border: none;
  background-color: rgb(43, 43, 212);
  color: white;
  font-size: 18px;
  width: 150px;
  height: 50px;
  margin-top: 5px;
}
.button-container {
  display: flex;
  justify-content: flex-end;
}
