.response-container {
  color: white;
  margin: 20px 0;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.151);
  border-radius: 5px;
  margin-bottom: 0;
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.1);
}
.response-innerContainers1 {
  display: flex;
  align-items: center;
  height: 100%;
  margin-bottom: 20px;
}
.response-innerContainers2 {
  display: flex;
  height: 100%;
}
.response-prompt-header {
  width: 150px;
  font-size: 18px;
  margin: 0;
  font-weight: 600;
}
.response-prompt-text {
  width: 80%;
  font-weight: 100;
  font-size: 16px;
  margin: 0;
  word-wrap: break-word;
  margin-left: 10px;
}

.Professor {
  color: rgb(240, 210, 39);
}
.Major {
  color: rgb(24, 98, 167);
}
.DaVinci {
  color: rgb(36, 252, 29);
}
.Admiral {
  color: rgb(204, 43, 177);
}
