@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
  --container-margin: 0 auto;
  --container-padding: 0 30px;
  --container-maxwidth: 600px;
}

* {
  font-family: 'Inter', sans-serif;
}
